extends ./layouts/master.pug

block title
  title RL Game Coach

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Desktop page
  section.page
    aside.model
      h1 3D model maybe
    .main-content
      .head-content
        .left
          select.s(name='stat-select')
            option(value='vel-attack') Movement under Attack
            option(value='saab') Saab
            option(value='fiat') Fiat
            option(value='audi') Audi
          select.s(name='order-select')
            option(value='zero') Zero
            option(value='one') One
            option(value='two') Two

        h1.page__title # Index page
    
