extends ./layouts/master.pug

block title
  title RL Game Coach

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Desktop page
  section.page
    img.logo(src='assets/images/logo.png')
    aside.model-cont
      .head-content
        .left
          select.s(name='player-select')
            option(value='begin') Beginner
            option(value='intermediate') Intermediate
            option(value='pro') Professional
      h1 3D model maybe
      a-scene
        a-assets
          a-asset-item.models#beg(src='/assets/images/shark.dae')
          a-asset-item.models.hidden#int(src='/assets/images/shark.dae')
        a-entity(collada-model='#beg')
        a-entity(collada-model='#int')

    .main-content 
      .head-content
        .left
          select.s(name='stat-select')
            option(value='vel-attack') Movement under Attack
            option(value='saab') Saab
            option(value='fiat') Fiat
            option(value='audi') Audi
          select.s(name='order-select')
            option(value='zero') Zero
            option(value='one') One
            option(value='two') Two

        h1.page__title # Index page
    
